<html>
    <body>
        <h1>Pantalla principal de MBBS</h1>
        <form action="/add_contact" method="POST">
            <input type="text" name="fullname" placeholder="Nombre completo" />
            <input type="email" name="email" placeholder="E-mail" />
            <input type="password" name="password" placeholder="Contraseña" />
            <input type="text" name="username" placeholder="Nombre de usuario"/>
            <button type="submit">Registrarse</button>
        </form>
    </body>
</html>